*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	width: 100%;
	height: 100%;
} 

body{
	width: 100%;
	min-height: 100%;
	padding-bottom: 5vh;
}

header{
	height: 10vh;
	background-color: yellow;
}

.json_maker_option_container{
	height: 5vh;
	display: flex;
}

.json_maker_filename{
	width: 50%;
	height: 100%;
	background-color: white;
	border-bottom: thin #caca42 solid;
	padding-left: 10px;
	padding-top: 5px;
}

.json_maker_filename:hover{
	cursor: pointer;
}

.json_maker_option_list{
	width: 47%;
	height: 100%;
	display: flex;
	border-bottom: thin #caca42 solid;
}

.json_maker_option{
	width: 33%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.json_maker_option:hover{
	background-color: #f7f7f7;
}

.json_maker_option a{
	text-decoration: none;
}

.json_maker_option a:hover{
	color: #333;
}

.json_maker_close_btn{
	width: 3%;
	height: 100%;
	outline: none;
	border: thin white solid;
	background-color: #f00000;
	color: white;
}

.json_maker_close_btn:hover{
	cursor: pointer;
	background-color: #d00000;
}

.show_form{
	opacity: 1;
	z-index: 1;
}

form{
	opacity: 0;
	width: 60%;
	min-height: 70vh;
	background-color: #fdfdfd;
	margin: 0 auto;
	margin-top: 5vh;
	box-shadow: -1px 1px 5px 1px #333;
	padding-bottom: 10px;
	z-index: -1;
	transition: opacity .6s, z-index .6s;
}

.json_maker_header_container{
	width: 100%;
	height: 9vh;
	background-color: yellow;
	margin-bottom: 5px;
	border-bottom: thin #caca42 solid;
}

.json_maker_header_name{
	display: inline-block;
	height: 9vh;
	width: 68.3%;
}

.json_maker_name{

}

.json_maker_header_name > p{
	display: inline-block;
	height: 9vh;
	width: 80%;
	line-height: 9vh;
	padding-left: 10px;

}

.json_maker_entry_count{
	width: 10%;
	height: 80%;
	border-radius: 5px;
	background-color: white;
}

.json_maker_add_btn{
	width: 15%;
	height: 80%;
	background-color: white;
	border-radius: 5px;
}

.json_maker_save_btn{
	width: 15%;
	height: 80%;
	background-color: white;
	border-radius: 5px;
}

.json_maker_body{
	width: 100%;
	min-height: 67vh;
	background-color: transparent;
}

.json_maker_entry_container{
	height: 15vh;
	width: 90%;
	border-bottom: thin black solid;
	margin: 0 auto;
	margin-top: 5px;
	background-color: white;
	box-shadow: -1px 1px 4px #333;
	padding-left: 5px;
	padding-top: 5px;
}

input[name='name']{
	width: 46%;
	height: 6vh;
	padding-left: 5px;
}

input[name='value']{
	width: 46%;
	height: 6vh;
	padding-left: 5px;
}

input.array_input{
	width: 85%;
}

.json_maker_remove_entry_btn{
	width: 5%;
	height: 5vh;
	color: red;
	outline: none;
	box-shadow: -0.5px 0.5px 1.5px #333;
}

.json_maker_remove_entry_btn:hover{
	cursor: pointer;
}

.json_maker_modal_container{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.7);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	display: none;
}

.json_maker_modal{
	width: 45%;
	height: 65%;
	background-color: white;
	border-radius: 8px;
}

.json_maker_modal_header{
	width: 100%;
	height: 15%;
	background-color: yellow;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.json_maker_modal_message{
	height: 30%;
    width: 80%;
    background-color: #fff;
    position: relative;
    top: 20%;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    border: thin black solid;
}

.json_maker_modal_close_btn{
	width: 20%;
	height: 10%;
	border-radius: 5px;
	position: relative;
	top: 32%;
	left: 77%;
}